
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Nunito:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300&family=Quicksand:wght@300;400&family=Raleway:wght@200;300&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       16px;
  --code-size:       14px;
  --aside-size:      14px;
  --fig-cap-size:    14px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    #000000;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Karla";
  --mono-font:       "Poppins";
  --body-font:       "Poppins";
  --navbar-font:     "Karla";  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    1.2rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       1.5rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    20px;
  --contents-size:   14px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       22px;
  --text-color:       white;
  --text-size:        16px;
  --hover-color:      lightgray;
  --bkgd-color:       cadetblue;
}

.distill-site-footer {
  --text-color:       white;
  --text-size:        20px;
  --hover-color:      gray;
  --bkgd-color:       cadetblue;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

